/** @type {import('next').NextConfig} */
const nextConfig = {
  env: {
    PUBLIC_DB_CONNECTION:
      "******************************************************************************",
  },
};

export default nextConfig;
