.formContainer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  color: #333333;
  font-family: 'Playfair Display', serif;
}

.formGroup {
  margin-bottom: 20px;
}

.addIngredients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.addIngredients input[type="text"] {
  flex: 1;
  padding: 12px 15px;
  border: 1px solid #b5b5b5;
  border-radius: 8px;
  font-size: 1em;
  color: #333333;
  background-color: #ffffff;
  font-family: 'Playfair Display', serif;
  transition: border-color 0.3s;
}

.addIngredients input[type="text"]:focus {
  border-color: #b63b35;
  outline: none;
}

.addIngredients button {
  padding: 6px 10px;
  font-size: 0.8em;
  border: none;
  border-radius: 8px;
  background-color: #b63b35;
  color: white;
  cursor: pointer;
  font-family: 'Lobster', cursive;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.addIngredients button:hover {
  background-color: #8b3631;
  transform: scale(1.02);
}

.buttonContainer {
  display: flex;
  gap: 5px; 
}

.formContainer label {
  display: block;
  font-weight: bold;
  font-size: 1.1em;
  color: #333333;
  margin-bottom: 8px;
  font-family: 'Lobster', cursive;
}

.formContainer textarea,
.formContainer input[type="text"],
.formContainer select {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #b5b5b5;
  border-radius: 8px;
  font-size: 1em;
  color: #333333;
  background-color: #ffffff;
  font-family: 'Playfair Display', serif;
  transition: border-color 0.3s;
}

.formContainer textarea:focus,
.formContainer input[type="text"]:focus,
.formContainer select:focus {
  border-color: #b63b35;
  outline: none;
}

.formContainer textarea {
  resize: vertical;
  min-height: 50px;
}

.formContainer button {
  display: inline-block;
  padding: 10.5px 25px;
  font-size: 1.1em;
  border: none;
  border-radius: 8px;
  background-color: #b63b35;
  color: white;
  cursor: pointer;
  font-family: 'Lobster', cursive;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.formContainer button:hover {
  background-color: #8b3631;
  transform: scale(1.02);
}

.errorMessage {
  color: #b63b35;
  font-size: 0.9em;
  margin-top: 8px;
}

.ingredientList {
  display: grid; 
  grid-template-columns: 1fr auto; 
  gap: 10px; 
  align-items: center; 
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
  color: #333333;
}

.ingredientItem {
  display: contents; 
}

.ingredient{
  margin-right: 10px;
  font-size: 1.2em;
}

.backLink {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  color: #b63b35;
  font-family: 'Lobster', cursive;
  transition: color 0.3s ease;
}

.backLink:hover {
  color: #8b3631;
}