.allContainer {
  background-color: #fafafa;
  color: #333333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 12px;
  margin-left: 8%;
  margin-right: 8%;
  font-family: "Lobster", cursive;
  margin-bottom: 14%;
}

.buttonContainer {

  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  font-family: "Lobster", cursive;
}

.button {
  background-color: transparent;
  color: #333;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 0 8px;
  cursor: pointer;
  position: relative;
  font-family: "Lobster", cursive;
}

.button:hover {
  background-color: #b63b35;
  color: #fafafa;
}

.activeButton {
  color: #333333;
  border-bottom: 2px solid #333333;
}

.favTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}