.navbar {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #4CAF50;
    padding: 10px 20px;
    color: white;
}

.title {
    margin: 0;
}

.controlsContainer {
    display: flex; 
    justify-content: space-between;
    width: 100%; 
    margin-top: 10px; 
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px; 
    color: black;

}

.select {
    padding: 5px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: white;
    cursor: pointer; 
    width: 200px; 
}

.searchContainer {

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;

}


.searchInput {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; 

}


.addRecipeButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px
}

.dropdownMenu {
    position: absolute;
    background-color: white; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    list-style-type: none; 
    margin: 0;
    padding: 0; 
    z-index: 1; 
}

.dropdownMenu li {
    padding: 8px 10px; 
    cursor: pointer;
}

.dropdownMenu li:hover {
    background-color: #f0f0f0; 
}